@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

* {
    font-family: 'Noto Sans', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;     
    padding: 0;
    margin: 0;
}

.card{
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 10px;
    border: none;
}

.custom-nav{
    background-color: white;
    box-shadow: 0px 2px 5px #00000029;
}